@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: #ffff;
  background-color: #0f172a;
  min-width: 320px;
}

.tasklist::-webkit-scrollbar{
  display: none;
}

* {
  box-sizing: border-box;
}
